<h1 class='title'>Bookmark Manager</h1>
<% @bookmarks.each do |bookmark| %>
  <a href="<%=bookmark.url%>">
  <%if bookmark.title == "" then%>
    <%= bookmark.url %>
  <%else%>
    <%=bookmark.title%>
  <%end%>
  </a>
  <input type="submit" id="update" value="Update">
  <input type="submit" id="delete" value="Delete">
  <hr>
<% end %>

<form method='post' action='/add'>
  <label for='new'>URL<br>
  <input type='text' id='new' name='new_bookmark'></label><br>
  <label for='title'>Title<br>
  <input type='text' id='title' name='bookmark_title'></label>
  <br>
  <input type='submit' value='Add Bookmark'>
</form>
<br>
<span style='color:red'><%= flash[:error]%></span>




