<h1 class='title'>Bookmark Manager</h1>
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><a href="<%=bookmark%>"><%=bookmark%></a></li>
  <% end %>
</ul>
<hr>
<form method='post' action='/add'>
  <input type='text' name='new_bookmark'>
  <input type='submit' value='Add Bookmark'>
</form>
<br>
<span style='color:red'><%= flash[:no_url]%></span>




