<h1 class='title'>Bookmark Manager</h1>
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><%=bookmark%></li>
  <% end %>
</ul>
<hr>
<form method='post' action='/add'>
  <input type='text' name='new_bookmark'>
  <input type='submit' value='Add Bookmark'>
</form>
<br>


